.successcont{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 10px 20px;
    max-width: 1200px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    margin: 20px;

}

.successcont svg{
    width: 250px;
    height: 250px;
    margin: 10px;
    margin-left: 400px;
    color: rgb(17, 226, 17);
    align-items: center;
}

.successcont h2{
    margin-left: 310px;
    font-weight: 300;
}