.extrapage{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.pgleft{
    display: flex;
}

.pgright{
    display: flex;
    flex-direction: row-reverse;
    align-self: flex-end;
}

.pgcommon{
    width: 80%;
    margin: 80px;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    padding: 20px 0px;
}

.pgcommon img{
    width: 50%;
}

.pgcommon div{
    width: 45%;

}

.pgcommon div h1{
    font-size: 55px;
    font-weight: 400;
    color: var(--col1);
    margin: 0 0 10px 0;
    padding: 0;
    letter-spacing: 1px;
}

.pgcommon div p{
    font-size: 20px;
    font-weight: 400;
    color: rgb(36, 36, 36);
    margin: 0 0 10px 0;
    padding: 0;
    letter-spacing: 1px;
}

.extrapageform{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    width: 100%;
    margin-left: 300px;
    max-width: 700px;
}

.extrapageform .formgroup{

    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}

.extrapageform div label{
    font-size: 15px;
    font-weight: 600;
}

.extrapageform div input{
    width: 100%;
    height: 40px;
    border: 1px solid var(--col1);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}
.extrapageform div textarea{
    width: 100%;
    min-height: 100px;
    border: 1px solid var(--col1);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

.extrapage .btn {
    border: none;
}

.extrapage .btn button{
    width: 200px;
    height: 50px;
    border: none;
    background-color: var(--col1);
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: all .5s ease;
}

.extrapage .btn button:hover{
    color: var(--col1);
    background-color: white;
    border: 1px solid;
}

.extrapage .formheading{
    color: black;
    font-size: 3rem;
    font-weight: 800;
    margin: 0 0 20px 0;
    margin-top: 20px;
    margin-left: 28%;
    padding: 0;
    letter-spacing: 1px;

}

